@import url('https://fonts.googleapis.com/css2?family=Anton&family=Caveat:wght@600&family=Hind+Siliguri&family=Open+Sans:ital,wght@0,600;0,700;0,800;1,800&family=Pixelify+Sans&family=Rubik+Bubbles&family=Satisfy&family=Special+Elite&family=Teko:wght@300&display=swap');


body{
    background-color: #A9C9FF;
    background-image: linear-gradient(180deg, #A9C9FF 0%, #FFBBEC 100%);
    background-size: 100%;
    width: auto;
}

.t1{
    border-radius: 20px;
    background-color: #74EBD5;
    background-image: linear-gradient(90deg, #74EBD5 0%, #9FACE6 100%);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    font-family: 'Teko';font-size: 25px;

}


.card{
    background-color: #A9C9FF;
    background-image: linear-gradient(180deg, #A9C9FF 0%, #FFBBEC 100%);
    font-family: 'Teko';font-size: 25px;
}

.col-md-12{
    margin-left: 650px; 
    margin-top: -100px;
}

.card-body{
    width: 700px;
}

@media(max-width: 730px){
    .m4{
        margin-left: -200px;
    }
    .col-md-12{
        margin-bottom: 500px;
    }
}

@media(max-width: 1024px){

    .m1{
        margin-left: -100px;

    }
    .m2{
        margin-left: -300px;
    }
    .col-md-12{
        margin-bottom: 00px;
    }
    .m3{
        width: 50px;
        margin-left: 135px;
    }
    .col-md-12{
        margin-left: 700px; 
     }
     .m4{
        margin-left: 100px;
     }
     .m8{
        margin-left: -100px;
        transform: scale(0.7);
     }
}
@media(max-width: 760px){
    .t1{
        margin-left: 300px;
    }
    .col-md-12{
        margin-top: -100px;
        margin-left: 800px; 
     }
    .m4{
        margin-left: -25px;
    }

    .m1{
        margin-left: -350px;
    }
    .m2{
        margin-left: -700px ;
    }
    .m8{
        margin-left: -100px;
        width: 370px;
        transform: scale(0.7);
    }
}
@media(max-width: 599px){
    .t1{
        margin-left: 100px;
    }
    .col-md-12{
        margin-left: 230px;
        margin-top: -100px; 
     }
    .m8{
        margin-bottom: 800px;
    }

    .m1{    
        font-size: medium;
    }

    .m6{
        font-size: x-large;
    }
    .m2{
        margin-left: -800px ;
    }
}
@media(max-width: 597px){
    .m1{
        margin-left: -420px;
    }
}

.m4{
    display: flex;
}